<!DOCTYPE html>
<html ng-app="Scgfy">
  <head <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <title>Scgfy</title>
    <link rel="stylesheet" href="lib/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="./style.css">
    <script src="lib/angular/angular.min.js"></script>
    <script src="./controller.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

  </head>

  <body ng-controller="ScgfyCtrl">

    <div class="letreiro">
      <h1 style="background-color:Navy;"> Scgfy </h1>
    </div>

    <div class="jumbotron">
        <input class="form-control" type="text" ng-model="artista.nome" placeholder="Artista"/>
        <input class="form-control" type="text" ng-model="artista.foto" placeholder="Foto"/>
        <button class="btn btn-primary btn-block"  ng-click="adicionarArtista(artista)">Adicionar Artista</button>

    </div>

    <br>
    <br />

    <div class="container-fluid">
    <div class="row">
    <div class="col-md-9 col-md-push-3">  <!Coluna esquerda*/-- -->
      <div class="tab-pane">
          <br /><h2 ng-show="verificaTable(artistas)"> Meus artistas </h2>
          <h3 {{app}}></h3>
          <div class="imgContainer">
              <div class="gallery" ng-repeat="artista in artistas">
                <img class="artista-foto" src="{{artista.foto}}" width="190" height="160">
                <div class="middle">
                  <div class="text">{{artista.nome}}</div>
                </div>
              </div>
            </div>
          </div>

    </div>
    <div class="col-md-3 col-md-pull-9">  <!Coluna direita-->
      <h6> Buscar artista </h6>
      <input class="form-control" type="text" ng-model="nomeArtistaBuscado" placeholder="Digite o nome do artista procurado" />

      <table class="tabelaArtistas table table-dark table-hover table-responsive" width="400" ng-show="verificaTable(artistas)">

      <tr>
        <th>
          Nome dos artistas
        </th>
      </tr>

      <tr ng-repeat="favorito in favoritos | filter:nomeFavoritoBuscado">

                  <!-- modal com info de artistas -->
                  <div class="modal fade" id="infoFavorito" name="infoFavorito">

                    <div class="modal-dialog">

                      <div class="modal-content">

                        <div class="modal-header">

                          <div>

                            <h6>Favoritos:</h6>


                            <div ng-repeat="favorit in favoritos">
                              <div>

                                <h2> {{favorit.nome}} </h2>

                                <div id"flutuar":> <button class="btn btn-secondary btn-sm"  ng-click="excluirFavorito(favorit)">Excluir dos favoritos</button> </div>
                                <br />


                              </div>

                            </div>

                          </div>
                        </div>

                      </div>

                    </div>

                  </div>

                </tr>



      <tr ng-repeat="artista in artistas | filter:nomeArtistaBuscado">
        <td class="blocoNome"><span data-toggle="modal" data-target = "#infoArtista" ng-click="select(artista)" >{{artista.nome}}</span></td>

        <td><img class="img-fluid rounded imagemArtista" ng-src="{{artista.imagem}}"></td>
                  <!-- modal com info de artistas -->
                  <div class="modal fade" id="infoArtista" name="infoArtista">

                    <div class="modal-dialog">
                      <div class="modal-content">
                        <button type="button" class="btn btn-primary btn-sm" ng-click="adicionarAosFavoritos(selected)" data-dismiss="modal">Adicionar artista aos favoritos</button>
                        <div class="modal-header">
                          <div>
                          <h5 class="modal-header">{{selected.nome}}</h5
                          <br />
                          <img class="imagemArtistaInfoDetalhada" ng-src="{{selected.foto}}" width="140" height="120">
                          </div>

                          <div>
                            <h6>Lista de álbuns do artista:</h6>
                            <div ng-repeat="album in retornaAlbuns(selected.nome)">
                              <div>
                                {{album.nomeAlbum}}
                              </div>

                            </div>


                            <br />
                            <h8> Última música ouvida: </h8>
                            <input type="text" class="form-control"  placeholder="Qual a última música que você ouviu do artista?" ng-model= "selected.ultimaMusica"/>
                            <h8> Nota do artista: </h8>
                            <input type="number" class="form-control" placeholder="Qual a nota que você dá ao artista?" ng-model= "selected.nota" />
                            <button type="button" class="btn btn-primary" ng-click="atualizaDadosArtista(selected)" data-dismiss="modal">Concluir</button>

                          </div>
                        </div>

                      </div>

                    </div>

                  </div>

                </tr>

              </table>

          </div>

        </div>




    <br />
    <div class="text-center blocoDeOpcao">



<!-- modal-->
<div>
<h6>Clique no botão abaixo para adicionar uma nova música</h6>
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#musicForm">Adicionar Música</button>
</div>
<!-- janela de adicao de musicas-->
      <div  class="modal fade" id="musicForm" name="musicForm" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <!-- cabecalho -->
            <div class="modal-header">
              <h5 class="modal-title">Adicionar Música</h5>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!--corpo -->
            <div class="modal-body">
              <input class="form-control" type="text" name="nomeMusica" id="nomeMusica" placeholder="Digite o nome da música" ng-model="musica.nome" ng-required = "true" />
              <input type="text" class="form-control" name="autorMusica" id="autorMusica" placeholder="Digite o nome do artista" ng-model="musica.autor" ng-required="true" />
              <input type="text" class="form-control" name="album" id="album" placeholder="Digite o nome do álbum" ng-model="musica.album" ng-required="true" />
              <input type="text" class="form-control" name="anoLancamento" id="anoLancamento" placeholder="Digite o ano de lançamento" ng-model="musica.ano" ng-required="true"/>
              <input type="text" class="form-control" name="duracao" id="duracao" placeholder="Digite o tempo de duração" ng-model="musica.duracao" ng-required="true" />
            </div>

            <!--rodape-->
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" ng-click="adicionarMusica(musica)" ng-disabled="musicaForm.$invalid" ng-click="adicionarMusica(musica)">Adicionar Música</button>
            </div>

          </div>
        </div>
      </div>

      <div>

  </div>

    <br /><h2 ng-show="verificaTable(musicas)">Minhas músicas </h2>
            <table class="tabelaMusicas table table-dark table-hover table-responsive" width="400" ng-show="verificaTable(musicas)" >
              <tr>

                <th>
                  Nome
                </th>
                <th>
                  Artista
                </th>
                <th>
                  Álbum
                </th>
                <th>
                  Ano de Lançamento
                </th>
                <th>
                  Duração
                </th>

              </tr>
              <tr ng-repeat="musica in musicas">
                <td>{{musica.nome}}</td>
                <td>{{musica.autor}}</td>
                <td>{{musica.album}}</td>
                <td>{{musica.ano}}</td>
                <td>{{musica.duracao}}</td>
                <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAdicionarMusicaNaPlaylist" ng-click="select(musica)">Adicionar em uma playlist</button></td>

              </tr>
            </table>
            <!-- PLAYLISTS-->
            <!-- Modal para adicionar musica em uma playlist -->
          <form class="modal fade" id="modalAdicionarMusicaNaPlaylist" name="modalAdicionarMusicaNaPlaylist">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h3>Adicionar música em uma playlist</h3>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <h6>Digite o nome da playlist que deseja adicionar "{{selected.nome}}"</h6>
                  <input class="form-control" type="text" ng-required="true" ng-model="nomePlaylist"/>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-primary" ng-click="adicionaMusicaNaPlaylist(selected, nomePlaylist)" ng-disabled="modalAdicionarMusicaNaPlaylist.$invalid">Adicionar música</button>
                </div>

              </div>

            </div>

          </form>
  </div>


  <br />
    <div class="row">
    <div class="col-md-2 col-md-push-2"><!Coluna esquerda-->
      <div class="row blocoLinha">
        <div class="col-md-20">
          <div >
            <br />
            <h10 class="text-center">Criar uma nova playlist</h10>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalPlaylist"><i class="fa fa-plus-circle" aria-hidden="true"></i> Nova playlist</button>


            <div class="modal fade" id="modalPlaylist" name="modalPlaylist">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3>Nova playlist</h3>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
                    <h6>Digite o nome da nova playlist:</h6>
                    <input type="text" class="form-control" ng-model="nomeDaPlaylist"/>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="adicionaPlaylist(nomeDaPlaylist)">Criar</button>
                  </div>
                </div>

              </div>

            </div>


          </div>

        </div>

        <div class="col-md-2">

        </div>

        <div class="col-md-50">
          <!-- tabela com as playlists -->
          <br /><h4 ng-show="verificaTable(playlists)">Minhas playlists</h4>
          <table class="table table-dark table-hover table-responsive tabelaArtistasFavoritos" ng-show="verificaTable(playlists)">
            <tr>
              <th>
                Nome da playlist
              </th>
            </tr>
            <tr ng-repeat = "playlist in playlists">
              <td class="blocoNome">
                <span data-toggle="modal" data-target="#modalInfoPlaylist" ng-click="select(playlist)">{{playlist.nome}}</span>
              </td>
              <td>
                <button type="button" class="btn btn-danger btn-sm" ng-click="select(playlist)" data-toggle="modal" data-target="#modalConfirmacaoDeExclusao"><i class="fa fa-trash" aria-hidden="true"></i> Excluir</button>
              </td>

            </tr>
          </table>

          <!-- modal que mostra as infos das playlists -->
          <div class="modal fade" id="modalInfoPlaylist">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h3>Musicas da playlist: "{{selected.nome}}:"</h3>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <div ng-repeat="musica in selected.retornaMusicas()">
                    <h6>-{{musica.nome}} <button type="button" class="btn btn-danger btn-sm" ng-click="excluirMusicaDaPlaylist(selected, musica)"><i class="fa fa-trash" aria-hidden="true"></i></button></h6>
                  </div>
                </div>
                <div class="modal-footer">

                </div>

              </div>

            </div>

          </div>

          <!-- modal de confirmacao de exclusão de uma playlist -->
          <div class="modal fade" id="modalConfirmacaoDeExclusao">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h3>Exclusão da playlist: "{{selected.nome}}"</h3>
                </div>
                <div class="modal-body">
                  <h5>Clique em confirmar se deseja excluir {{selected.nome}}</h5>
                  <h7>*Clique fora da caixa de texto se deseja cancelar</h7>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="excluirPlaylist(selected)">Confirmar</button>
                </div>

              </div>

            </div>

          </div>

        </div>

      </div>

    <div class="col-md-9 col-md-push-9"> <!Coluna do meio-->

    <div class="col-md-3 col-md-offset-3"> <!Coluna direita--> </div>
      <button type="button" <span data-toggle="modal" data-target = "#infoFavorito" ng-click="select(artista)" class="btn btn-primary btn-md">Exibir os artistas favoritos</button>


      <!-- col para separar -->





        <!--table class="table table-striped">
            <tr>
                <th>Artista</th>
                <th>Foto</th>
            </tr>
            <tr ng-repeat="artista in artistas">
                <td>{{artista.nome}}</td>
                <img ng-src="{{artista.foto}}" style="width:160px;height:160px;">
            </tr>
        </table-->
</div>
  </body>
</html>
