<!DOCTYPE html>
<html ng-app="Scgfy">
  <head>
    <meta charset="utf-8">
    <title>Scgfy</title>
    <link rel="stylesheet" href="lib/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="./style.css">
    <script src="lib/angular/angular.min.js"></script>
    <script src="./controller.js"></script>

  </head>
  <body ng-controller="ScgfyCtrl">
    <div> <h1> Scgfy </h1></div>

    <div class="jumbotron">
        <input class="form-control" type="text" ng-model="artista.nome" placeholder="Artista"/>
        <input class="form-control" type="text" ng-model="artista.foto" placeholder="Foto"/>
        <button class="btn btn-primary btn-block" ng-click="adicionarArtista(artista)">Adicionar Artista</button>

    </div>
    <h5>Clique no botão abaixo para adicionar uma nova música</h5>
    <button type="button" class="btn btn-primary" ng-click="imprimir()" data-toggle="modal" data-target="#musicForm">Adicionar Música</button>

    <!-- janela de adicao de musicas-->
            <form  class="modal fade" id="musicForm" name="musicaForm">
              <div class="modal-dialog">
                <div class="modal-content">
                  <!-- cabecalho -->
                  <div class="modal-header">
                    <h5 class="modal-title">Adicionar Música</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>

                  <!--corpo -->
                  <div class="modal-body">
                    <input class="form-control" type="text" name="nomeMusica" id="nomeMusica" placeholder="Digite o nome da música" ng-model="musica.nome" ng-required = "true" />
                    <input type="text" class="form-control" name="autorMusica" id="autorMusica" placeholder="Digite o nome do artista" ng-model="musica.autor" ng-required="true" />
                    <input type="text" class="form-control" name="album" id="album" placeholder="Digite o nome do álbum" ng-model="musica.album" ng-required="true" />
                    <input type="text" class="form-control" name="anoLancamento" id="anoLancamento" placeholder="Digite o ano de lançamento" ng-model="musica.ano" ng-required="true"/>
                    <input type="text" class="form-control" name="duracao" id="duracao" placeholder="Digite o tempo de duracao" ng-model="musica.duracao" ng-required="true" />
                  </div>

                  <!--rodape-->
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="adicionarMusica(musica)" ng-disabled="musicaForm.$invalid" ng-click="adicionarMusica(musica)">Adicionar Música</button>
                  </div>

                </div>
              </div>
            </form>


    <div class="tab-pane">
        <h3 {{app}}></h3>
        <div class="imgContainer">
            <div class="gallery" ng-repeat="artista in artistas">
              <img class="artista-foto" src="{{artista.foto}}" width="160" height="160">
              <div class="middle">
                <div class="text">{{artista.nome}}</div>
              </div>
            </div>
          </div>
        </div>
        <!--table class="table table-striped">
            <tr>
                <th>Artista</th>
                <th>Foto</th>
            </tr>
            <tr ng-repeat="artista in artistas">
                <td>{{artista.nome}}</td>
                <img ng-src="{{artista.foto}}" style="width:160px;height:160px;">
            </tr>
        </table-->

  </body>
</html>
